body {
    margin: 50px 75px 50px 75px;
}

h3 {
    margin-left: 25px;
}

p {
    margin-left: 25px;
}

a:link,
a:visited,
a:active {
    color: #3f3f3f;
}

a:hover {
    color: #1098ad;
}

@media only screen and (max-width: 600px) {
    body {
        margin-left: 15px;
        margin-top: 25px;
        margin-right: 15px;
    }

    h3 {
        margin-left: 10px;
    }

    p {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        margin: 2% 25%;
    }

    h3 {
        margin-left: 10px;
    }

    p {
        margin-left: 10px;
    }
}
